# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
ENV/

# IDEs and editors
.idea/
.vscode/

# Logs and databases
*.log
*.sqlite
*.db

# Compiled Python files
*.pyc

# Package directories
*.egg-info/
dist/
build/

# Temp file mysql
*.bak

# Pipenv
Pipfile.lock

# Outros
credenciais.json
teste.py
